/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}


/* Body */
body {
  background-color: #030712;
  color: white;
  font-family: Inter, sans-serif;
}


/* Hide browser default password reveal icons */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}


/* Chrome / Edge password icons */
input::-webkit-credentials-auto-fill-button,
input::-webkit-password-toggle-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}


/* Remove input autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 9999s ease-in-out 0s;
}